doctype 5
html(lang="en")
  head
    meta(charset="utf-8")
    title GitPoll - vote on GitHub issue
    meta(name="description", content="Application for voting on GitHub issues")
    meta(name="keywords", content="github, issue, vote, poll, +1, -1")
    meta(name="author", content="Maryna Aleksandrova")
    link(rel="stylesheet", href="/index.css")
    link(href="/nv.d3.css", rel="stylesheet", type="text/css")
    script
      (function(c,a){var b,d,h,e;b=c.createElement("script");b.type="text/javascript";b.async=!0;b.src=("https:"===c.location.protocol?"https:":"http:")+'//api.mixpanel.com/site_media/js/api/mixpanel.2.js';d=c.getElementsByTagName("script")[0];d.parentNode.insertBefore(b,d);a._i=[];a.init=function(b,c,f){function d(a,b){var c=b.split(".");2==c.length&&(a=a[c[0]],b=c[1]);a[b]=function(){a.push([b].concat(Array.prototype.slice.call(arguments,0)))}}var g=a;"undefined"!==typeof f?g=
      a[f]=[]:f="mixpanel";g.people=g.people||[];h="disable track track_pageview track_links track_forms register register_once unregister identify name_tag set_config people.set people.increment".split(" ");for(e=0;e<h.length;e++)d(g,h[e]);a._i.push([b,c,f])};a.__SV=1.1;window.mixpanel=a})(document,window.mixpanel||[]);
      mixpanel.init("90adfdd8359f5e3597eea0acb16e5557");
    script(type="text/javascript")
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-46214133-2', 'gitrun.com');
      ga('send', 'pageview');
    script
      var gp = {};
      gp.user =  {
        username: '#{user.username}',
        avatar: '#{user.avatar}',
        profileUrl: '#{user.profileUrl}',
        displayName: '#{user.displayName}',
        accessToken: '#{user.accessToken}'
      };  
  body
    header.container
      a(href="/")#home.visible
        svg(version="1.1", id="Layer_1", xmlns="http://www.w3.org/2000/svg", x="0px", y="0px", width="30px", height="30px", viewBox="0 0 100 100", enable-background="new 0 0 100 100")
          path(d="M92,46C92,20.595,71.405,0,46,0S0,20.595,0,46s20.595,46,46,46V46H92z")
          path(d="M54,100c25.405,0,46-20.595,46-46H54V100z")
      span#welcome.invisible Welcome
      img(src="").invisible
      a#username.invisible(href="", target="_blank", title="Opens in new window")
      button#logout.invisible Logout
      a#login.invisible(href="/auth") Login
    div.container
      div.page.invisible#app-intro-page
        div.page-container
          section.page-content
            h2.title Usage
            ol
              li 1. Create new issue on GitHub or GitPoll.
              li 2. Share link to issue with repository collaborators.
              li 3. Vote on issue and see results as on <a href="http://poll.gitrun.com/emberjs/ember.js/issues/1205">Ember.js</a> repo. 
            h2.title Feedback
            p If you run into some problem with app or need extra feature please create new issue on <a href="https://github.com/gitrun/poll/issues">GitHub</a> and we will vote on it.
      div.page.invisible#create-poll-page
        div.page-container
          section.page-content
            form(onsubmit="return false;")
              h1.title Title
              input#issue-title(placeholder="Name of issue...", required)
              select#user-repos-select(required)
                option Choose repository
              textarea#issue-description(rows="4", cols="50", placeholder="Add some description...")
              div.info-bar.invisible
                span Want to add somebody personally?
                input#mandatory-voter
                button#add-mandatory-voter-button Add
                div#mandatory-voter-container
                span#issue-labels Labels:
                input#issue-label
                button#add-issue-label-button Add
                div#issue-labels-container
          button#create-issue-button.btn Create poll
      div.page.invisible#poll-page
        div.page-container
          section.page-content
            p.error.invisible Sorry, there is no issue on given URL, please check, if URL is correct.
            a(href="", target="_blank")
              h1#poll-title.title
            div#poll-description
            div#no-results.invisible Nobody voted yet. Be the first!
            div#results
              div#yes Yes:
                span
              div#no No:
                span
            div#issue-comments
            div#vote-btns
              button#yes-btn.btn +1
              button#no-btn.btn -1
            div#chart-panel.invisible
              svg#pie-chart
    footer#app-footer
      div.container
        p GitPoll.com is not affiliated with <a href="http://github.com/">GitHub</a>.
        p Home icon and favicon symbol by <a href="http://thenounproject.com/">The Noun Project</a> team.
        a(href="https://mixpanel.com/f/partner")
          img(src="https://mixpanel.com/site_media/images/partner/badge_light.png", alt="Mobile Analytics")
  a(href="https://github.com/gitrun/poll")
    img(style="position: absolute; top: 0; right: 0; border: 0;", src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png", alt="Fork me on GitHub")
  script(src="/underscore.js")
  script(src="/underscore.string.min.js")
  script(src="/page.js")
  script(src="/jquery-1.7.2.min.js")
  script(src="/spin.min.js")
  script(src="/jquery.spin.min.js")
  script(src="/d3.v2.js")
  script(src="/nv.d3.js")
  script(src="/chart.js")
  script(src="/app.js")